@import "tailwindcss";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

html,
body,
#root {
    @apply bg-slate-950 text-slate-50;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    @apply bg-slate-950 text-slate-50;
    min-width: 320px;
    min-height: 100vh;
}